<nav class="navbar navbar-expand-lg navbar-dark bg-gradient">
	<div class="container-fluid">

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNavDropdown">

			<ul
				class="navbar-nav ms-auto">

				{# ACCUEIL #}
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('app_home_controllers') }}">Accueil</a>
				</li>
				{# Livres #}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkLivres" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Livres
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkLivres">
						<li>
							<a class="dropdown-item" href="{{ path('app_livres') }}">Tous les livres</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('forme_livre_Titre') }}">Par titre</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('forme_livre_Editeur') }}">Par éditeur</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('forme_livre_Auteur') }}">Par auteur</a>
						</li>
					</ul>
				</li>

				{# FOURNISSEURS #}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkFournisseurs" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Fournisseurs
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkFournisseurs">
						<li>
							<a class="dropdown-item" href="{{ path('app_fournisseurs') }}">Tous les fournisseurs</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('forme_fournisseurs_raison_sociale') }}">Par raison sociale</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('forme_fournisseurs_localite') }}">Par localité</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('forme_fournisseurs_pays') }}">Par pays</a>
						</li>
					</ul>
				</li>

				{# COMMANDES #}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkCommandes" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Commandes
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkCommandes">
						<li>
							<a class="dropdown-item" href="{{ path('app_commandes') }}">Toutes les commandes</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('commandes_par_date') }}">Par date</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('commande_par_editeur') }}">Par éditeur</a>
						</li>

					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
