<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home_controllers') }}" ">Accueil</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div
				class="navbar-nav">


				{# *************************************************************** LIVRES ***************************************************  #}

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
						Livres</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{ path('app_livres') }}">Tous les livres</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('forme_livre_Titre') }}">Par titre</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('forme_livre_Editeur') }}">Par éditeur</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('forme_livre_Auteur') }}">Par auteur</a>
						</li>
					</ul>
				</li>

				{# **************************************************************** FOURNISSEURS **********************************************  #}

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
						Fournisseurs</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{ path('app_fournisseurs') }}">Tous les fournisseurs</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('forme_fournisseurs_raison_sociale') }}">Par raison sociale</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('forme_fournisseurs_localite') }}">Par localité</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('forme_fournisseurs_pays') }}">Par pays</a>
						</li>
					</li>
				</li>
			</ul>
		</li>

				{# **************************************************************** COMMANDE **********************************************  #}

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
						Commandes</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{ path('app_commandes') }}">Toutes les commandes</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('commandes_par_date') }}">Par date</a>
						</li>
						{# <li>
							<a class="dropdown-item" href="{{ path('forme_fournisseurs_localite') }}">Par localité</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('forme_fournisseurs_pays') }}">Par pays</a>
						</li> #}
					</li>
				</li>
			</ul>
		</li>



	</div>
</div></div></nav>
